Требования:

1) Создать игру змейка, используя модуль Tkinter
2) игра змейка будет размещаться через Canvas
3) цвет змейки красный, рамка змейки белая
4) цвет яблок фиолетовый, границы белые, количество яблок - 100, яблоки изначально размещены на поле
5) экран игры всегда будет располагаться поверх других окон
6) размер окна игры 700 на 700, размер ячейки = 25
7) первоначальный размер змейки - 7 пикселей
8) при каждом "сьедании" яблока, змейка растет на 1 пиксель
9) при попадании змейки в саму себя или в стенку происходит проигрышь и окончание игры (закрытие окна с игрой) 

